@import '../../style/variables';

.tag {
  border-radius: $cardRadius;
  background-color: $primaryColor;
  color: white;
  padding: 4px 8px;
  font-size: 10px;
  text-align: center;
  min-width: 85px;
  margin: 0;
}

@media only screen and (min-width: $mediumScreen) {
  .tag {
    font-size: 14px;
    min-width: 115px;
  }
}