@import '../../style/variables';

.slideshow {
  position: relative;

  &__slide {
    width: 100%;
    height: 415px;
    object-fit: cover;
    display: none;
    border-radius: $containerRadius;

    &--active {
      display: block;
      animation-name: fade;
      animation-duration: 1.5s;
    }
  }

  &__next, &__prev {
    position: absolute;
    top: 50%;
    border: none;
    background: none;
    color: white;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__next {
    right: 0;
  }

  &__prev {
    left: 0;
  }

  &__index {
    position: absolute;
    bottom: 0;
    right: 50%;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}


@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: $mediumScreen) {
  .slideshow {
    &__slide {
      height: 255px;
    }

    &__prev, &__next {
      height: 24px;
      width: 24px;
    }

    &__index {
      display: none;
    }
  }
}
