@import '../../style/variables';

.host_avatar {
  &__name {
    text-align: end;
    width: min-content;
    font-size: 12px;
  }

  &__profile {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .host_avatar {
    &__name {
      font-size: 18px;
    }

    &__profile {
      width: 64px;
      height: 64px;
    }
  }
}