@import '../../style/variables';

.logo {
  &__header {
    width: 211px;
    height: 68px;
  }

  &__footer {
    width: 146px;
    height: 47px;
  }
}

@media only screen and (max-width: $mediumScreen) {
  .logo__header {
    width: 146px;
    height: 47px;
  }
}