@import '../../style/variables';

.notfound_page {
  text-align: center;
  color: $primaryColor;

  &__title {
    font-size: 96px;
    font-weight: 700;
    margin: 0;
  }

  &__error {
    font-size: 18px;
    margin: 50px 0 80px 0;
  }

  &__redirect {
    font-size: 14px;
    color: $primaryColor;
    text-decoration: underline;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .notfound_page {
    &__title {
      font-size: 288px;
    }

    &__error {
      font-size: 36px;
    }

    &__redirect {
      font-size: 18px;
    }
  }
}