@import '../../style/variables';

.collapse {
  border-radius: $cardRadius;
  background: $secondaryColor;
  width: 100%;
  height: 100%;

  &__action {
    align-items: center;
    background: $primaryColor;
    border-radius: $cardRadius;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    padding: 10px 15px;
    font-size: 13px;

    &_icon {
      transform: rotate(0deg);
      transition: transform 300ms ease-out;
    }
  }

  &__content {
    color: $primaryColor;
    padding: 20px;
    display: none;
    font-size: 12px;
    text-align: justify;

    p, ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.collapse.open {
  .collapse__content {
    display: block;
  }

  .collapse__action_icon {
    transform: rotate(-180deg);
    transition: transform 300ms ease-out;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .collapse__action {
    font-size: 18px;

    &_icon {
      width: 24px;
      height: 15px;
    }
  }

  .collapse__content {
    font-size: 18px;
  }
}