@import '../../style/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;

  &__link {
    color: $primaryColor;

    &--active {
      text-decoration: underline;
    }
  }

  &__navbar {
    display: flex;
    gap: 25px;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .header {
    text-transform: none;
    font-size: 24px;

    &__navbar {
      gap: 50px;
    }
  }
}