@import './variables';

* {
  box-sizing: border-box;
}

:root {
  font-family: Montserrat, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

header, footer {
  padding: 30px 20px;
}

footer {
  margin-top: 20px;
}

main {
  padding: 0 20px;
}

a {
  text-decoration: inherit;
}

@media only screen and (min-width: $mediumScreen) {
  header, footer {
    padding: 45px 50px 50px 50px;
  }

  footer {
    margin-top: 50px;
  }

  main {
    padding: 0 50px;
  }

  h1 {
    font-size: 48px;
  }
}