@import '../../style/variables';

.about__container_collapse {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: $mediumScreen) {
  .about__container_collapse {
    padding: 0 50px;
  }
}