@import '../../style/variables';

.housing {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &__reference {
    display: flex;
    flex-direction: column;
    color: $primaryColor;

    &_title {
      font-size: 36px;
      margin: 0;
    }

    &_location {
      font-size: 18px;
      margin: 0;
    }

    &_tags {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }

  &__host {
    color: $primaryColor;
    justify-content: space-between;
    &_infos {
      display: flex;
      gap: 10px;
      justify-content: end;
      align-items: center;
    }

    &_rating {
      display: flex;
    }
  }

  &__collapse_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
  }
}

@media only screen and (max-width: $mediumScreen) {
  .housing {
    flex-direction: column;

    &__reference {
      &_title {
        font-size: 18px;
      }

      &_location {
        font-size: 14px;
      }
    }

    &__host {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }

    &__collapse_container {
      flex-direction: column;
    }
  }
}