@import '../../style/variables';

.footer {
  background-color: black;
  color: white;
  text-align: center;
  fill: white;

  &__copyright {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: $mediumScreen) {
  .footer {
    font-size: 12px;
  }
}