@import '../../style/variables';

.home__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &_link {
    width: 100%;
    height: 255px;
  }

  &_element {
    position: relative;
    color: white;
    border-radius: $cardRadius;
    height: 100%;

    &_title {
      position: absolute;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      width: 100%;
      margin: 0;
      padding: 20px;
      border-radius: $cardRadius;
    }

    &_image {
      border-radius: $cardRadius;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

@media only screen and (min-width: $mediumScreen) {
  .home__list {
    background-color: $secondaryColor;
    padding: 30px;
    justify-content: space-between;
    border-radius: $containerRadius;

    &_link {
      width: 48%;

    }
  }
}

@media only screen and (min-width: $largeScreen) {
  .home__list_link {
    width: 31%;
    height: 340px;
  }
}