@import '../../style/variables';

.banner {
  border-radius: $containerRadius;
  display: flex;
  height: 111px;
  justify-content: center;
  color: white;
  align-items: center;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;

  &__title {
    font-weight: normal;
    padding: 20px;
  }
}

@media only screen and (min-width: $mediumScreen) {
  .banner {
    height: 223px;
  }
}
